{
    "env": {
        "browser": true
    },
    "extends": "airbnb",
    "rules": {
        "linebreak-style": ["error", "unix"],
        "func-names": ["error", "never"],
        "semi": 2,
        "comma-dangle": ["error", "never"],
        "indent": ["error", 4],
        "import/no-unresolved": 0,
        "import/extensions": 0,
        "react/jsx-indent": [0, 4],
        "jsx-quotes": [2, "prefer-single"]
    }
}